# Servicos de Inferencia e Ferramentas do Tripa AI
GROQ_API_KEY=o_seu_token_da_groq
TAVILY_API_KEY=o_seu_token_da_tavily
KIWI_API_KEY=o_seu_token_da_kiwi

# Configuracoes Opcionais do Ambiente
APP_ENV=development
API_V1_STR=/api/v1
PROJECT_NAME=Tripa AI
